{
  "parser": "babel-eslint",
  "extends": "formidable/configurations/es6-browser",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "quotes": [
      2,
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-magic-numbers": "off",
    "no-extra-parens": "off",
    "max-params": "off",
    "new-cap": "off",
    "no-unused-vars": "off",
    "func-style": "off",
    "arrow-parens": "off",
    "no-use-before-define": "off",
    "comma-dangle": "off"
  }
}